{% extends 'main.html' %}
{% block title %}Home Page{% endblock %}
{% block content%}
{% load static %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-2 mx-auto">
    <div class="flex flex-col text-center w-full mb-8">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Tech Date Soft o'quv markaziga kush kelibsiz</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Kompyuter savodxonligini mukammal darajada o’rganishni istaganlar uchun o’zimizni “Tech Data Soft” IT kompaniyamizga taklif qilamiz
        <br> ☎️ +99890690-13-35   ☎️ +99894890-13-35  
      </p>
      <h1 class="sm:text-2xl text-3xl font-medium title-font mt-4 text-gray-900">Bizning o'quvchilar</h1>
    </div>
    <div class="lg:w-4/5 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th class="px-2 py-1 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Ismi</th>
            <th class="px-2 py-2 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Familiyasi</th>
            <th class="px-2 py-1 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Yoshi</th>
            <th class="px-2 py-5 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Ustozi</th>
            <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br">Fani</th>
          </tr>
        </thead>
        <tbody>
          {% for lead in all %}
          <tr>
            <td class="px-2 py-1">{{ lead.ism }}</td>
            <td class="px-2 py-2">{{ lead.famila }}</td>
            <td class="px-2 py-1">{{ lead.yosh }}</td>
            <td class="px-2 py-5 text-lg text-gray-900">{{lead.agent}}</td>
            <td class="w-10 text-center">
              <input name="plan" type="radio">
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="flex pl-4 mt-4 lg:w-4/5 w-full mx-auto">
      <!-- <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a> -->
      <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"><a href="leads/">Batafsil</a></button>
    </div>
  </div>
</section>
{% endblock %}
