{% extends 'main.html' %}
{% block title %}Lead Update{% endblock %}
{% block content%}
{% load static %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-6 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap space-between">
            <img alt="ecommerce" class="lg:w-2/6 w-full lg:h-auto h-64 object-cover object-center rounded"
                src="{% static 'images/img_update.jpg' %}">
            <div class="lg:w-4/6 w-full lg:pr-10 lg:py-6 mb-6 pl-4 lg:mb-0">
                <!-- <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2> -->
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4"> {{lead.ism}} {{ lead.famila }}</h1>
                <div class="flex mb-4">
                    <a href="{% url 'leads:lead_details' lead.pk %}"
                        class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        Ma'lumot</a>
                    <a href="" class="flex-grow  text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                        O'zgartirish</a>
                    <a href="" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        Fanlar</a>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit"
                        class="flex-grow ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded mt-4 mr-4">
                        Yangilash
                    </button>
                    <button
                        class="flex-grow ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                        <a href="{% url 'leads:lead_delete' lead.pk %}">
                            O'chirish
                        </a>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
<!-- <h1>{{lead.ism}} {{lead.famila}} malimotlarini uzgartirish</h1>
<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, ipsam.</h3>
<a href="{% url 'leads:lead_details' lead.pk %}">Ortga qaytish</a>
<!-- <h2>{{lead.ism}} {{lead.famila}}</h2> 
<form action="" method="post">
    <p>        
        {% csrf_token %}
        {{form.as_p}}
    </p>
    <button type="submit">Jo'natish</button>
</form> -->


<!--
<a href="{% url 'leads:lead_update' lead.pk %}">O'zgartirish</a><br>
<a href="{% url 'leads:lead_delete' lead.pk %}">O'chirish</a> 
-->