{% extends 'main.html' %}
{% block title %}Lead Lists{% endblock %}
{% block content%}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-2 mx-auto">
        <div class="flex flex-col text-center w-full mb-8">
            <!-- <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">
                <a href="{% url 'leads:lead_create' %}">Mijoz qo'shish</a>
            </h2> -->
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Tech Date Soft Agentlar ro'yhati</h1>
        </div>
        <div class="flex flex-wrap -m-4 justify-center">
            <h1>Hammaga salom</h1>
           
        </div>
    </div>
</section>

{% endblock %}
