/* * {
    margin: 0;
    padding: 0;
} */
body {
    background: rgb(29, 110, 163);
}

.color-black {    
    color: rgb(5, 0, 0);
}
/* 
h1 {
    font-size: 40px;
    color: blue;
    margin: 20px;
}
p, ul {
    font-size: 30px;
    color: green
} */